@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
:root {
  --green: #27ae60;
  --black: #192a56;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}
body {
  padding-top: 10rem;
  overflow-x: hidden;
}
.bg--grey {
  background: #eee;
}
.sub-heading {
  text-align: center;
  color: var(--green);
  font-size: 2rem;
}
.heading {
  text-align: center;
  color: var(--black);
  font-size: 3rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
}
.btn {
  display: inline-block;
  padding: 0.8rem 3rem;
  border: 0.2rem solid var(--green);
  color: var(--green);
  cursor: pointer;
  font-size: 1.7rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: var(--green);
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  transition: 0.3s linear;
  z-index: -1;
}
.btn:hover::before {
  width: 100%;
  left: 0;
}
.btn:hover {
  color: #fff;
}
.swiper-container {
  overflow: hidden;
  position: relative;
}
.swiper-pagination-bullet-active {
  background: var(--green);
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 5%;
}
.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.section-padding {
  padding: 60px 0;
}
.stars-outer {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  margin: auto;
}
.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
}
.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--light-color);
}
.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-size: 1.5rem;
  font-weight: 900;
  color: #f8ce0b;
}
.new-product {
  font-size: 1.6rem;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  color: #fff;
  background-color: var(--green);
  padding: 2px 6px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.service-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.service-heading__right,
.service-heading__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.service-heading .fa-shopping-cart {
  margin-right: 1rem;
  font-size: 3rem;
  color: var(--green);
}
.service-heading .heading {
  padding: 0;
  line-height: 85%;
}
.service-heading__clean {
  font-size: 1.6rem;
  color: var(--light-color);
}
.service-heading .fa-trash-alt {
  font-family: "Font Awesome 5 Free";
  font-size: 2rem;
  color: var(--green);
  font-weight: 700;
  margin-right: 0.5rem;
}
.service-heading .fa-heart {
  font-family: "Font Awesome 5 Free";
  font-size: 2.5rem;
  color: var(--green);
  font-weight: 700;
  margin-right: 0.5rem;
}
.fa-heart--active {
  background: var(--green);
  color: #fff;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}
.overlay--active {
  display: block;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 1.5rem 0;
  z-index: 1000;
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}
.header__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__logo {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bolder;
}
.header__logo i {
  color: var(--green);
}
.header__icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.header__icons a,
.header__icons button {
  font-family: "Font Awesome 5 Free";
  cursor: pointer;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  font-size: 1.7rem;
  color: var(--black);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #eee;
}
.header__icons a:not(:last-child) {
  margin-right: 0.5rem;
}
.header__icons button {
  display: none;
}
.header__icons a {
  position: relative;
}

.header__product-counter {
  position: absolute;
  top: 0;
  right: -5px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--green);
  font-size: 1.2rem;
  line-height: 100%;
  color: #fff;
}
.header__icons i:hover,
.header__icons a:hover,
.header__icons button:hover {
  color: #fff;
  background: var(--green);
  /* -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg); */
}
.nav__link {
  font-size: 1.7rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: var(--light-color);
}
.nav__link--active,
.nav__link:hover {
  color: #fff;
  background: var(--green);
}
.footer {
  padding: 4rem 0;
}
.footer__logo {
  color: var(--black);
  font-size: 5rem;
  font-weight: bolder;
}
.footer__logo i {
  color: var(--green);
}
.footer__grid {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.footer-column {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1;
  -moz-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
}
.footer-column:first-child {
  margin-right: 8rem;
}
.footer-column__title {
  padding: 0.5rem 0;
  font-size: 2.5rem;
  color: var(--black);
}
.footer-column__link {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: var(--light-color);
}
.footer-column__link:hover {
  color: var(--green);
  text-decoration: underline;
}
.footer__text {
  padding: 0.5rem 0;
  font-size: 1.6rem;
  color: var(--light-color);
}
.footer__license {
  text-align: center;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  color: var(--black);
  padding: 3rem 0 0 0;
  margin-top: 1.5rem;
}
.footer__license span {
  color: var(--green);
}
.speciality__grid {
  margin: -20px;
}
.speciality__wrapper {
  width: 33.3333%;
  padding: 20px;
}
.speciality__item {
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  height: 100%;
  background-color: #fff;
}
.speciality__item .image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: -100%;
  left: 0;
}
.speciality__item .content {
  text-align: center;
  background: #fff;
  padding: 2rem;
}
.speciality .content svg {
  width: 60px;
  height: 60px;
  fill: var(--green);
  margin: 1.5rem auto;
}
.speciality__title {
  font-size: 2.5rem;
  color: #333;
}
.speciality__descr {
  font-size: 1.6rem;
  color: #666;
  padding: 1rem 0;
}
.speciality__item:hover .image {
  top: 0;
}
.speciality__item:hover .content {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
.dishes-p__grid {
  margin: -15px;
}
.dishes-p__wrapper {
  width: 33.3333%;
  padding: 15px;
}
.dishes-p__item {
  padding: 2.5rem;
  background-color: #fff;
  height: 100%;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  position: relative;
  overflow: hidden;
  text-align: center;
}
.dishes-p__item .fa-heart {
  position: absolute;
  top: 1.5rem;
  right: -15rem;
  background: #eee;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: var(--black);
}
.dishes-p__item .fa-heart:hover {
  background: var(--green);
  color: #fff;
}
.dishes-p__item .fa-heart--active {
  background: var(--green);
  color: #fff;
}
.dishes-p__item:hover .fa-heart {
  right: 1.5rem;
}
.dishes-p__item img {
  height: 17rem;
  max-width: 100%;
  margin: 1rem auto;
}
.dishes-p__title {
  color: var(--black);
  font-size: 2.5rem;
}
.dishes-p__price {
  color: var(--black);
  font-weight: bolder;
  margin-right: 1rem;
  font-size: 2.5rem;
}
.burger--active {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.burger {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 250px;
  height: 100vh;
  padding: 20px 0;
  background-color: #fff;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.burger__heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 5%;
  margin-bottom: 20px;
}
.burger__close {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.burger__close .fa-times {
  font-size: 2.5rem;
}
.burger .nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.burger .nav__link {
  padding: 10px 0;
  display: block;
  text-align: center;
  width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.burger--active {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.home__slide {
  padding: 0 10% 2rem 10%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
}
.home .content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 20rem;
  -moz-box-flex: 1;
  -ms-flex: 1 1 20rem;
  flex: 1 1 20rem;
}
.home .image {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 20rem;
  -moz-box-flex: 1;
  -ms-flex: 1 1 20rem;
  flex: 1 1 20rem;
}
.home .image img {
  width: 100%;
}
.home__subtitle {
  color: var(--green);
  font-size: 2.5rem;
}
.home__title {
  color: var(--black);
  font-size: 5rem;
}
.home__descr {
  color: var(--light-color);
  font-size: 2.2rem;
  padding: 0.5rem 0;
  line-height: 1.5;
}
.aboutus__grid {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.aboutus .image {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 20rem;
  -moz-box-flex: 1;
  -ms-flex: 1 1 20rem;
  flex: 1 1 20rem;
}
.aboutus .image img {
  width: 100%;
}
.aboutus .content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 20rem;
  -moz-box-flex: 1;
  -ms-flex: 1 1 20rem;
  flex: 1 1 20rem;
}
.aboutus__title {
  color: var(--black);
  font-size: 4rem;
  padding: 0.5rem 0;
}
.aboutus__descr {
  color: var(--light-color);
  font-size: 1.5rem;
  padding: 0.5rem 0;
  line-height: 2;
}
.aboutus .icons-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 1rem 0;
  margin-top: 0.5rem;
}
.aboutus .icons {
  background: #eee;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 17rem;
  -moz-box-flex: 1;
  -ms-flex: 1 1 17rem;
  flex: 1 1 17rem;
  padding: 1.5rem 1rem;
}
.aboutus .icons i {
  font-size: 2.5rem;
  color: var(--green);
}
.aboutus__feature {
  font-size: 1.5rem;
  color: var(--black);
}
.features__grid {
  margin: -20px;
}
.features__wrapper {
  width: 33.3333%;
  padding: 20px;
}
.features__item {
  width: 100%;
  text-align: center;
}
.features__img {
  width: 64px;
  height: 64px;
  fill: var(--green);
  margin-bottom: 20px;
}
.features__title {
  font-size: 3rem;
  margin-bottom: 20px;
}
.features__descr {
  color: var(--light-color);
  font-size: 1.8rem;
  padding: 0 1.5rem;
}
.app .image {
  height: 600px;
  margin: -20px 0 -45px 0;
}
.app .content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
  -moz-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
}
.app .heading,
.app .sub-heading {
  text-align: left;
}
.app__grid {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.app__descr {
  font-size: 1.6rem;
  color: var(--light-color);
  margin: 0 0 3rem 0;
}
.app__stores {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.app__stores a:first-child {
  margin-right: 2rem;
}
.app__stores img {
  width: 150px;
}
.main .aboutus:first-child {
  padding-top: 0;
}
.aboutus ~ .aboutus {
  margin: -120px 0 -60px 0;
}
.experts__grid {
  margin: -10px;
}
.experts__wrapper {
  width: 20%;
  padding: 10px;
}
.experts__item {
  width: 100%;
  height: 100%;
}
.experts .image {
  width: 100%;
  margin-bottom: 1rem;
}
.experts__name {
  font-weight: 700;
  font-size: 2rem;
}
.review {
  padding: 100px;
  background: url("../../images/testimonialsBg.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.review .sub-heading,
.review .heading {
  color: #fff;
}
.review__slide {
  padding: 2rem;
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  position: relative;
  background: #fff;
}
.review__slide .fa-quote-right {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 6rem;
  color: #ccc;
}
.review__client {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20% 1.5rem 0;
}
.review__client img {
  height: 7rem;
  width: 7rem;
  margin-right: 1.5rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}
.review__name {
  line-height: 100%;
  text-align: center;
  color: var(--black);
  font-size: 2rem;
  padding-bottom: 0.5rem;
}
.review__descr {
  font-size: 1.5rem;
  line-height: 1.8;
  color: var(--light-color);
}
.main .dishes-p:first-child {
  padding-bottom: 60px;
}
.nav-dishes {
  margin: -10px -10px 40px -10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.nav-dishes__wrapper {
  padding: 10px;
}
.nav-dishes__item {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 15px 20px;
  background-color: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  transition: none;
}
.nav-dishes__item svg {
  width: 50px;
  height: 50px;
  fill: var(--green);
}
.nav-dishes__item--active {
  background-color: var(--green);
  border-color: var(--green);
}
.nav-dishes__item--active svg {
  fill: #fff;
}
.basket {
  padding-bottom: 60px;
}
.basket__empty {
  width: 45%;
  min-width: 200px;
  margin: auto;
}
.basket__product {
  padding: 1rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.basket__img {
  width: 30%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.basket__img img {
  width: 100px;
  margin-right: 2rem;
  -o-object-fit: cover;
  object-fit: cover;
}
.basket__name {
  font-size: 2.2rem;
  color: #000;
  font-weight: 600;
}
.basket__amount {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.basket__amount svg {
  fill: var(--green);
}
.basket__count {
  margin: 0 1rem;
  font-size: 1.8rem;
  font-weight: 700;
}
.basket__price {
  font-size: 2.2rem;
  font-weight: 700;
}
.basket__product button {
  line-height: 0%;
}
.basket__delete svg {
  fill: var(--green);
}
.basket__total-price {
  margin-top: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.basket__total {
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.basket__total span {
  color: var(--green);
}
.basket__pay {
  padding: 1rem 3rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  border-radius: 2rem;
  background-color: var(--green);
  color: #fff;
  font-size: 1.6rem;
}
.favorites {
  padding: 0 0 60px 0;
}
.contacts {
  position: relative;
  padding-bottom: 60px;
}
.contacts .heading {
  text-align: left;
}
.contacts .sub-heading {
  text-align: left;
  margin-bottom: 1rem;
}
.contacts__map {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 90%;
  width: 45%;
  -o-object-fit: cover;
  object-fit: cover;
}
.contacts-inner {
  padding: 25px 80px 60px 0;
  width: 55%;
}
.contacts__grid {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.contacts__form {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
  -moz-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  max-width: 320px;
}
.contacts__form input {
  display: block;
  min-width: 230px;
  margin-bottom: 20px;
}
.contacts__form textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
}
.contacts__textfield {
  padding: 14px;
  background: #f1f1f1;
  border: 1px solid #d8d8d8;
  font-weight: 500;
  font-size: 1.6rem;
  opacity: 1;
}
.contacts__error {
  color: red;
  font-size: 1.4rem;
  margin: -1.3rem 0 1rem 0;
}
.contacts__detail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.contacts__detail:not(:last-child) {
  margin-bottom: 20px;
}
.contacts__detail svg {
  margin-right: 15px;
}
.contacts__detail span {
  font-weight: 500;
  font-size: 1.6rem;
}
.contacts__detail:last-child span {
  color: #0c2f75;
}
